.main {
  background-image: url("../../assets/img/main-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1080px;
  position: relative;
  @media screen and (max-width: 850px){
    min-height: 0;
    height: 100vh;
  }
  .title {
    font-weight: 500;
    font-size: 120px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 306px;
    @media screen and (max-width: 1250px) {
      margin-top: 195px;
    }
    @media screen and (max-width: 850px){
      font-size: 60px;
    }
  }
  .subtitle {
    font-weight: 400;
    font-size: 32px;
    line-height: 90px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    @media screen and (max-width: 850px){
      font-size: 17px;
      line-height: 25px;
    }
  }
  .socialLinks {
    width: 128px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 60px;
    right: 60px;
    z-index: 1000;

    @media screen and (max-width: 850px){
      bottom: 20px;
      right: 20px;
    }

    .link {
      height: 54px;
      width: 54px;

      transition: .3s linear;
      position: relative;

      svg {
        position: relative;
        z-index: 100;
      }

      span {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
      }

      &:before {
        width: 62px;
        height: 62px;
        position: absolute;
        top: -4px;
        left: -4px;
        content: '';
        z-index: 10;
        border-radius: 100%;
        transition: .2s linear;
        opacity: 0;
      }

      &:after {
        width: 70px;
        height: 70px;
        position: absolute;
        top: -8px;
        left: -8px;
        content: '';
        z-index: 10;
        border-radius: 100%;
        transition: .3s linear;
        opacity: 0;
      }

      &:hover {
        &:before {
          opacity: .6;
        }
        &:after {
          opacity: .3;
        }
      }
      
      &.telegram {
        span {
          background: #34AADF;
        }
        &:before, &:after {
          background: #34AADF;
        }
      }
      
      &.whatsapp {
        span {
          background: #43D854;
        }
        &:before, &:after {
          background: #43D854;
        }
      }
    }
  }
}