.about {
  padding-top: 260px;
  position: relative;
  padding-bottom: 100px;

  .triangle {
    position: absolute;
    right: 0;
    top: -80px;
  }

  .title {
    font-weight: 700;
    font-size: 160px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 150px;
  }

  .pluses {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1416px;
    margin: 0 auto 115px;

    .titleRow {
      display: flex;
      align-items: flex-end;
      margin-bottom: 30px;

      .PlusTitle {
        font-weight: 500;
        font-size: 24px;
        color: #FFFFFF;
        margin-left: 15px;
      }
    }

    .text {
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      color: #DBDBDB;
    }

    .plus {
      width: 396px;
    }
  }

  .aboutText {
    max-width: 1310px;
    width: 100%;
    margin: 0 auto;
    font-weight: 800;
    font-size: 54px;
    line-height: 65px;
    position: relative;
    margin-bottom: 30px;

    &:after {
      content: url("../../assets/img/aboutSprite1.svg");
      position: absolute;
      top: -35px;
      left: -100px;
      width: 100px;
      height: 88px;
    }

    &:before {
      content: url("../../assets/img/aboutSprite2.svg");
      position: absolute;
      bottom: -35px;
      right: -120px;
      width: 100px;
      height: 88px;
    }

    p {
      background: #91FBFF;
      background: -webkit-radial-gradient(circle farthest-corner at center center, #91FBFF 0%, #91FBFF 0%, #FFFFFF 100%);
      background: -moz-radial-gradient(circle farthest-corner at center center, #91FBFF 0%, #91FBFF 0%, #FFFFFF 100%);
      background: radial-gradient(circle farthest-corner at center center, #91FBFF 0%, #91FBFF 0%, #FFFFFF 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: 'Inter';
      font-style: italic;
      font-weight: 800;
      font-size: 54px;
      line-height: 65px;
      text-align: center;
    }
  }

  .aboutTextAuthor {
    max-width: 1310px;
    width: 100%;
    margin: 0 auto;
    text-align: right;
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;

    span {
      font-size: 20px;
      color: #969696;
    }
  }
}