.header {
  background: transparent;
  padding: 40px 60px 0;
  .headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav {
      max-width: 465px;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      display: flex;
      .menuBtn {
        background: none;
        border: none;
        cursor: pointer;
        position: relative;
        z-index: 1000;
        > * {
          width: 61px;
          height: 2px;
          background: #fff;
          display: block;
          clip-path: polygon(68px -2px, 0px 0px, 0px 2px, 47px 5px);
          transition: .3s linear;
        }

        &:hover {
          > * {
            background: #33B7BC;
          }
        }

        .top {
          margin-bottom: 7px;
          margin-left: 10px;
        }

        .bottom {

        }
      }

      .navItem {
        color: #D7D7D7;
        position: relative;
        line-height: 18px;

        > p {
          position: relative;
          z-index: 100;
          transition: .3s linear;
        }
        
        &:before {
          content: '';
          position: absolute;
          width: calc(100% + 6px);
          bottom: 1px;
          left: -2px;
          height: 4px;
          background: #33B7BC;
          z-index: 10;
          clip-path: polygon(100% -2px, 5px -2px, -3px 8px, 93.50% 6px);
          opacity: 0;
          transition: .3s linear;
        }

        &:hover {
          &:before {
            opacity: 1;
          }
          p {
            color: #fff;
          }
        }
      }
    }
    .logo {
      position: relative;
      z-index: 1000;
    }
    .info {
      max-width: 455px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 44px;
      .tel {
        font-weight: 700;
        font-size: 16px;
        line-height: 90px;
        text-transform: uppercase;
        color: #FFFFFF;
        transition: .3s linear;

        &:hover {
          color: #33B7BC;
        }
      }
      .location, .lang {
        background: transparent;
        border: none;
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        text-transform: uppercase;
        color: #FFFFFF;
        text-decoration: none;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: .3s linear;


        &:hover {
          color: #33B7BC;
        }
        svg {
          margin-left: 10px;
          transition: .2s linear;
        }

        &.active {
          svg {
            transform: rotate(180deg);
            path {
              fill: #33B7BC;
            }
          }
        }

      }
    }
    .locationWrap {
      position: relative;
      .modal {
        position: absolute;
        width: 188px;
        right: 0;
        top: 40px;
        display: block;
        background: rgba(32, 32, 32, 0.4);
        border: 1px solid #313131;
        border-radius: 14px;
        padding: 25px;
        .changeLocation {
          display: block;
          line-height: 15px;
          padding-bottom: 15px;
          background: transparent;
          border: none;
          color: #FFFFFF;
          margin-bottom: 15px;
          border-bottom: 1px solid #323232;
          width: 100%;
          text-align: left;
          cursor: pointer;
          transition: .3s linear;

          &:hover {
            color: #33B7BC;
          }

          &:last-child {
            padding-bottom: 0;
            margin-bottom: 0;
            border-bottom: none;
          }
        }
      }
    }
  }
}