.footer {
  margin-top: 300px;
  @media screen and (max-width: 850px) {
    margin-top: 100px;
  }
  .info {
    display: flex;
    border-top: 1px solid #272727;
    border-bottom: 1px solid #272727;
    @media screen and (max-width: 1250px) {
      display: block;
    }
    .leftSide {
      width: 100%;
      max-width: 1122px;
      border-right: 1px solid #272727;
      @media screen and (max-width: 1250px) {
        max-width: none;
        border-bottom: 1px solid #272727;
      }
      .nav {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @media screen and (max-width: 650px) {
          flex-wrap: wrap;
        }

        .navCol {
          @media screen and (max-width: 650px) {
            margin-bottom: 50px;
            margin-right: 35px;
            &:last-child {
              margin-bottom: 0;
            }
          }
          .title {
            font-weight: 700;
            font-size: 20px;
            color: #FFFFFF;
            margin-bottom: 30px;
            @media screen and (max-width: 650px) {
              font-size: 16px;
            }
          }

          > a {
            margin-bottom: 30px;
            position: relative;
            font-weight: 400;
            font-size: 18px;
            height: 22px;
            color: #E2E2E2;
            width: fit-content;
            display: block;
            @media screen and (max-width: 650px) {
              font-size: 15px;
            }
            p {
              position: relative;
              z-index: 100;
            }

            &:before {
              content: '';
              width: 100%;
              bottom: 2px;
              left: 0;
              height: 7px;
              background: #33B7BC;
              position: absolute;
              clip-path: polygon(103.3% -2px, 5px -2px, -3px 8px, 96.8% 8px);
              opacity: 0;
              transition: .3s linear;
            }

            &:hover {
              &:before {
                opacity: 1;
              }
            }
          }
        }
      }
      padding: 60px 210px 140px 60px;
      @media screen and (max-width: 650px) {
        padding: 40px 0 40px 20px;
      }
    }
    .rightSide {
      padding: 60px 150px 80px 60px;
      width: 100%;
      max-width: 798px;
      @media screen and (max-width: 650px) {
        padding: 35px 20px;
      }
      .socialLinks {
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .link {
          height: 40px;
          width: 40px;

          transition: .3s linear;
          position: relative;

          svg {
            position: relative;
            z-index: 100;
            width: 23px;
          }

          span {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 100;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
          }

          &:before {
            width: 48px;
            height: 48px;
            position: absolute;
            top: -4px;
            left: -4px;
            content: '';
            z-index: 10;
            border-radius: 100%;
            transition: .2s linear;
            opacity: 0;
          }

          &:after {
            width: 56px;
            height: 56px;
            position: absolute;
            top: -8px;
            left: -8px;
            content: '';
            z-index: 10;
            border-radius: 100%;
            transition: .3s linear;
            opacity: 0;
          }

          &:hover {
            &:before {
              opacity: .6;
            }
            &:after {
              opacity: .3;
            }
          }

          &.telegram {
            span {
              background: #34AADF;
            }
            &:before, &:after {
              background: #34AADF;
            }
          }

          &.whatsapp {
            span {
              background: #43D854;
            }
            &:before, &:after {
              background: #43D854;
            }
          }
        }
      }
      .socials {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        @media screen and (max-width: 650px) {
          margin-bottom: 20px;
        }

        .tel {
          font-weight: 700;
          font-size: 34px;
          color: #FFFFFF;
          @media screen and (max-width: 650px) {
            font-size: 24px;
          }
          margin-right: 30px;
        }
      }
      .reqCall {
        width: 294px;
        height: 64px;
        border: 2px solid #33B7BC;
        border-radius: 10px;
        background: transparent;
        font-weight: 700;
        font-size: 15px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 50px;
        cursor: pointer;
        box-shadow: 0 0 0 0 transparent;
        cursor: pointer;
        transition: .3s linear;
        @media screen and (max-width: 650px) {
          width: 100%;
          margin-bottom: 30px;
        }

        &:hover {
          box-shadow: 0px 0px 20px #245C5F;
          background: #33B7BC;
        }
      }
      .adress {
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        color: #FFFFFF;
        width: 416px;
        margin-bottom: 70px;
        @media screen and (max-width: 650px) {
          font-size: 20px;
          text-align: center;
          width: 100%;
          margin-bottom: 0;
        }
      }
      .inputWrap {
        max-width: 600px;
        width: 100%;
        position: relative;
        @media screen and (max-width: 650px) {
          display: none;
        }
        input {
          width: 100%;
          padding: 36px 38px;
          background: linear-gradient(90.75deg, #1C1C1C 0.65%, rgba(27, 27, 27, 0.4) 107.06%);
          border-radius: 10px;
          font-weight: 400;
          font-size: 20px;
          color: #fff;
          border: 1px solid #434343A8;
          height: 90px;
          font-family: 'Stolzl';
          transition: .3s linear;

          &:hover {
            border-color: rgba(67, 67, 67, 1);
          }

          &:focus {
            outline: none;
            border-color: #33B7BC;
          }
        }

        button {
          position: absolute;
          right: 5px;
          top: 5px;
          width: 131px;
          height: 80px;
          background: #33B7BC;
          border-radius: 10px;
          border: none;
          font-weight: 700;
          font-size: 15px;
          text-transform: uppercase;
          color: #FFFFFF;
          cursor: pointer;
        }
      }
    }
  }
  .partners {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 60px;
    border-top: 1px solid #272727;
    border-bottom: 1px solid #272727;

    img {
      mix-blend-mode: luminosity;
      opacity: 0.5;
    }

    @media screen and (max-width: 1250px) {
      display: none;
    }
  }
  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 60px;

    @media screen and (max-width: 650px) {
      flex-direction: column-reverse;
    }

    a {
      font-weight: 400;
      font-size: 16px;
      color: #33B7BC;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      color: #525252;
      @media screen and (max-width: 650px) {
        margin-top: 25px;
        margin-bottom: 11px;
      }
    }

    .links {
      width: 190px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      svg {
        path {
          transition: .3s linear;
        }
      }

        svg:hover {
          path {
            fill: #fff;
          }
        }
    }
  }
}