@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

@font-face {
  font-family: 'Stolzl';
  src: url('./assets/fonts/Stolzl/stolzl_regular.woff2') format('woff2'), url('./assets/fonts/Stolzl/stolzl_regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Stolzl';
  src: url('./assets/fonts/Stolzl/stolzl_medium.woff2') format('woff2'), url('./assets/fonts/Stolzl/stolzl_medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Stolzl';
  src: url('./assets/fonts/Stolzl/stolzl_bold.woff2') format('woff2'), url('./assets/fonts/Stolzl/stolzl_bold.woff') format('woff');
  font-style: normal;
  font-weight: 600;
}
