.menu {
  min-height: 100vh;
  height: auto;
  min-width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-image: url("../../assets/img/menu-bg.jpg");
  overflow-y: auto;
}